.listArea {
    width: 500px;
    margin: 0px auto;
    input {
        margin-top: 10px;
        height: 25px;
        line-height: 25px;
        text-indent: 10px;
        width: 98%;
        background-color: chartreuse;
    }
    .list {
        margin: 0;
        padding: 0;
        li {
            list-style-type: none;
            text-align: left;
            background-color: rgb(142, 82, 199);
            color: wheat;
            padding: 5px;
            display: flex;
            justify-content: space-between;
        }
    }
}

.form{
    width: 500px;
    margin: 0 auto;
    input{
        width: 98%;
        margin: 7px 0;
        background-color: chartreuse;
    }
   
}